

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: 
  url('../fonts/open-sans-v28-latin-regular.woff2') format('woff2'), 
  url('../fonts/open-sans-v28-latin-regular.woff') format('woff'); 
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: 
  url('../fonts/open-sans-v28-latin-700.woff2') format('woff2'), 
  url('../fonts/open-sans-v28-latin-700.woff') format('woff'); 
}

* {
  box-sizing: border-box;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}


body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  
}

img {
  vertical-align: middle;
  object-fit: cover;
  
}


.header {
  margin-bottom: 80px;
  box-shadow:  0px  4px  20px #000;
  
}

.container {
  width: 1140px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}


.header-logo:hover {
  opacity: 0.4;
  
}

.header-logo:active {
  opacity: 0.8;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.header-right-link-list {
  display: flex;
  align-items: center;
  
}
.header-right-links {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  
  
}
.header-rigt-link {
  padding: 16px;
  
}

.header-rigt-link:hover {
  border-bottom: 3px solid #000;
}


.header-rigt-link:active {
  background-color: #191919;
}


.header-links {
  text-decoration: none;
  color: #000;
  font-size: 15px;
  line-height: normal;
  
}

.header-links:active {
  color: #fff;
}


.header-link-item {
  padding: 8px 16px;
  background-color: #00BAFC;
  color: #fff;
  border-radius: 5px;
}

.header-link-item:hover {
  padding: 8px 16px;
  background-color: #fff;
  color: #00BAFC;
  border: 3px solid #00BAFC;
  border-radius: 5px;
  
}


.header-link-item:active {
  background-color: #00BAFC;
  color: #fff;
  
}


.main-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 136px;
}

.right-box {
  width: 458px;
  height: 258px;
}


.main-top-left-text-box {
  width: 470px;
}

.main-top-left-text {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  margin: 0;
  margin-bottom: 16px;
}

.main-top-left-text-item {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0px;
  margin-bottom: 16px;
}

.main-top-button {
  padding: 8px 16px;
  background-color: #00BAFC;
  color: #fff;
  border-radius: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  border: 0px; 
}



.main-top-button:hover {
  background-color: #00bafccc;
  border-radius: 5px;
}

.main-top-button:active {
  background-color: #00bafc99;
}




.center-top-text-box {
  width: 719px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-bottom: 16px;
}


.center-top-text {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  margin: 0;
  margin-bottom: 16px;
}

.center-top-text-item {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}


.center-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-evenly;  
  align-items: center; 
  flex-wrap: wrap; 
}

.center-list-item {
  width: 320px;
  padding: 24px;
  border-radius: 5px;
  text-align: center;
  margin-right: 70px;
  box-shadow: 0px 8px 8px #0000001a;
  margin-bottom: 48px;
  
  
}


.center-list-item:hover {
  box-shadow: 0px 12px 21px #0000001a;
}


.center-list-item:active {
  box-shadow: 0px 4px 4px #00000033;
}



.center-list-item:nth-child(3) {
  margin-right: 0px;
}


.center-list-item:nth-child(5) {
margin-right: 0px;
}
  



.center-list-item-link {
  text-decoration: none;
  color: #000;
}

.center-list-item-text {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  margin: 0;
  margin-bottom: 16px;
}

.center-list-item-text-bottom {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.center-list-pic {
  margin-bottom: 16px;
}



.center-link {
  color: #0000ff;
}


.center-bottom {
  text-align: center;
  margin-bottom: 112px;
}


.main-link {
  margin-right: 16px;
}


.bottom-box-list {
  list-style: none;
}

.bottom-box-text {
  width: 719px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 24px;
}


.bottom-box-text-item {
  font-size: 24px;
  line-height: 31px;
  margin: 0px;
  margin-bottom: 16px;
}

.bottom-box-text-items {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-size: 16px;
}


.bottom-top {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  
}

.bottom-top:nth-child(odd) {
  flex-direction: row-reverse;
}

.bottom-top-items {
  width: 500px;
  margin-left: 32px;
}

.bottom-top-items-texts {
  font-size: 20px;
  Line-height: 26px;
  margin: 0;
  margin-bottom: 8px;
}

.bottom-top-items-text {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.bottom-center {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
}


.section-bottom {
  background-color: #00bafc;
  padding: 56px 100px;
}

.section-top {
  width: 719px;
  margin: 0px auto;  
  text-align: center;
}

.section-top-items {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
}

.section-top-item {
  display: block;
  color: #fff;
  font-size: 24px;
  line-height: 31px;
}


.section-form{
  width: 348px;
  padding: 24px;
  background-color: #fff;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
}

.form-item {
  padding: 16px;
  width: 300px;
  background-color: #F3F3F3;
  margin-bottom: 16px;
  border-radius: 5px;
  border: 0px;
  
  
}

.form-select {
  width: 300px;
  padding: 16px;
  background-color: #F3F3F3;
  border: 0px;
  appearance: none;
  background-image: url(../images/cursor.svg);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: right 20px center;
  margin-bottom: 16px;
  
}



.footer {
  background-color: #191919;
  padding: 56px 0px;
  
}

.footer-top-box {
  display: flex;
}


.footer-left-box {
  width: 320px;
  margin-right: 100px;
}

.footer-left-box-top-text {
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 16px;
}

.footer-left-box-bottom-text {
  color: #fff;
  font-size: 16px;
line-height: 24px;

}


.footer-center-box {
  width: 143px;
  margin-right: 87px;
}

.footer-center-box:nth-child(3) {
  margin: 0;

}

.footer-center-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-center-list-item {
  margin-bottom: 16px;
}

.footer-center-list-item-bottom {
  margin: 0px;
  margin-bottom: 8px;
}

.link-text:hover {
  color: #fff;
}

.link-text:active {
  color: #fff;

}

.footer-center-list-item-link {
  text-decoration: none;
  color: #fff;
  
}

.footer-center-list-item-link:hover {
  color: #00bafc;

}

.footer-center-list-item-link:active {
  color: #00bafc;
  Opacity: 60%;
}